{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="styleSheet" href='{% static "css/temas.css" %}' type="text/css">
    <title>Escuela Los Reyes</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row primero"> 
            <div class="col"> <p id="blanco"> 📍 Avenida #######################       📞 32 41352 12345 </p></div>
        </div>
        <div class="row segundo">
            <div class="col"> <img id="logo" src='{% static "img/logo_final.png" %}' height="80px">
                              <h1 id="logo_2">Portal Escuela Los Reyes</h1>
            </div>
            <div class="col" id="titulo">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#"></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                          </li>
                        </ul>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary me-md-2" type="button"> <a href="/admin">Iniciar sesion</a></button>
                    </div>
                        </div>
                      </div>
                    </div>
                  </nav>
                 </div>
        </div>

        <div class="row tercero">
         <div class="col comunicado"> <h2> COMUNICADOS</h2></div>
        </div>
        <div class="row cuarto">
            {% if comunicados%}
              {% for comunic in comunicados %}
                {% if forloop.first %} <div class="row"></div>{% endif %}
                <div class="col-4">
                  <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ comunic.titulo}} </h5>
                        <hr />
                        <h6 class="card-subtitle">Autor: (Usuario)</h6>
                        <p class="card-subtitle">Categoria: {{ comunic.fkcategoria}}</p>
                        <p class="card-subtitle">Nivel: {{ comunic.nivel}}</p>
                        <hr />
                        <p class="card-text"> {{comunic.detalle}}</p>
                        <hr/>
                        <p class="card-subtitle">Fecha emitida: {{ comunic.fecha_envio}}</p>
                        <p class="card-subtitle">Ultima Modificaion: {{ comunic.fecha_ultima}}</p>
                        <p class="card-subtitle"> Autor: (autor)</p>

                      </div>
                  </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}</div><div class="row">{%endif%}
                {% if forloop.last %}</div>{%endif%}
              {% endfor %}
            {% else %}
              <div class="alert alert-danger"> No hay comunicados</div>
            {% endif %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
